
    <header>
      <div class="header__top">
        <a href="{{ .Site.BaseURL }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" aria-labelledby="logo-title" clip-rule="evenodd" width="376px" height="201px" viewBox="0 0 376 201" class="icon logo-svg"><g><path d="M130.764 200.789H100L200.394 0l100.395 200.789h-30.764L200.394 61.528l-69.63 139.261z"/><path fill="#63a598" marker-start="url(#a)" d="M91.037 200.401c-2.772 0-5.019-1.22-5.019-2.726v-94.748c0-1.506-2.246-2.726-5.018-2.726 2.772 0 5.018-1.22 5.018-2.727V2.726C86.018 1.221 88.265 0 91.037 0"/><path fill="#63a598" d="M310 1c2.77 0 5.018 1.221 5.018 2.727v94.748c0 1.506 2.246 2.726 5.018 2.726-2.772 0-5.018 1.22-5.018 2.727v94.748c0 1.505-2.247 2.726-5.019 2.726"/></g></svg>
        </a>
    
        <button class="hamburger hamburger--emphatic" type="button"
                aria-label="Menu" aria-controls="navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <nav>
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                <a href="#">{{ .Pre }}<span>{{ .Name }}</span></a>
              </li>
            {{ else }}
              <li>
                <a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
              </li>
            {{ end }} 
          {{ end }}
        </ul>
      </nav>
    </header>
