/* =================================================================== 
**
**  DISCON LLC v1.0 Grid Stylesheet
**  08-27-2018
**  ------------------------------------------------------------------
**
**  TOC:
**  01. Grid Template Areas
**  02. Grid Wrapper
**    - 02a. Header Grid
**    - 02b. Main Grid
**      - 02b_a. Section Grids
**  03. Media Queries  
**
** =================================================================== */

header { display: flex; }
div.header__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; 
}
nav > ul {
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
}
@media screen and (min-width: 30.01em) {
  div.header__top { align-items: center; }
  nav { margin-left: auto; }
  nav > ul {
    grid-gap: 2em;
    padding-right: 0;
  }
}
@media screen and (max-width: 30em) {
  header { flex-flow: column nowrap; }
  
}

@supports (display: grid) {
  .site__wrapper {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: max-content auto;
  }
  header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(2, max-content);
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  nav > ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2em;
  }
  main { grid-area: main; }
  footer {
    grid-area: footer;
    display: grid;
    align-self: end;
  }
  @media screen and (max-width: 30em) {
    header {
      grid-auto-flow: row;
      grid-template-columns: 1fr;
    }
    button.hamburger {
      grid-column: 2;
      grid-row: 1;
    }
    nav > ul { grid-column: 1 / 3; }
  } 
}
