{{ define "main" }}

  <main>
    <section class="section__block" id="intro__block">
      <h1 id="intro__headline">
        Hello, I'm Abdul!
        <br />
        <small class="h1_tagline">Web Developer & Solutions Architect</small>
      </h1>
      <p id="intro__desc">
          A student for <span class="umph">life</span>. An intellectually curious minded individual. <span class="hl__primary">Failure</span>, to me is a job well done -- I say this because it means that I tried, and I <span class="umph">gave it all I had</span>. If you aren't failing and you aren't <span class="hl__primary">succeeding</span>, then you're not doing anything worthwhile.
      </p>
    </section>
  </main>

{{end}}
