/* =================================================================== 
 *
 *  DISCON LLC v1.0 Main Stylesheet
 *  08-21-2018
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. webfonts, iconfonts, color palette
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader
 *  05. forms
 *  06. buttons
 *  07. other components
 *  08. common and reusable styles 
 *  09. header 
 *  10. home
 *  11. about
 *  12. services
 *  13. portfolio
 *  14. testimonials
 *  15. clients
 *  16. contact
 *  17. footer
 *
 * =================================================================== */

:root {
  --primary-color: hsl(168, 30%, 45%);
  --primary-color-dark: hsl(167, 30%, 35%);
}

/* ===================================================================
 *  02. Base Style Overrides
 * =================================================================== */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', Fallback, sans-serif;
  font-style: normal;
  font-size: 100%;
  margin: 0;
  min-height: 100vh;
}

a { 
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--primary-color-dark);
  cursor: pointer;
  text-transform: uppercase;
}

a:visited {
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
  opacity: 0.6;
  text-decoration: line-through;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ===================================================================
 *  03. typography & general theme styles
 * =================================================================== */
 
 a#logo__text {
  color: black;
  font-size: var(--h5-responsive);
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
 }

 img#logo__img {
  width: 10vh;
  margin-top: 0.8em;
  height: 8vh;
 }

 li.nav__item {
   font-weight: 500;
 }

 h1#intro__heading {
   font-size: 1.8em;
   font-weight: 600;
   letter-spacing: 0.04em;
 }

 p#intro__desc {
   letter-spacing: 0.04em;
   line-height: 2em;
   padding-top: 1em;
 }

 span#failure {
  color: #f14f4f;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
 }

 .no-display {
   display: none;
 }
/* ===================================================================
 *  02. Header
 * =================================================================== */

header {
  margin: 0 1.5em 0 2em;
}

/* ===================================================================
 *  02. Main Content
 * =================================================================== */
section#intro__block {
  margin: 5vw 15vw 5vw 2.05em;
  max-width: 70vw;
}

/* section#sampleProject {
  background-image: linear-gradient(0deg, hsl(168, 30%, 45%, 0.4), hsl(168, 30%, 45%, 0.4)),
                    url('../optimizedImages/bg_pattern.png');
  background-size: 240px, auto;
  background-attachment: fixed;
} */

/* hr#footer__sep {
  color: #E2E2E2;
  height: 2px;
  width: 85%;
  margin-top: 15vh;
} */
p#footer__cpy {
  color: #E2E2E2;
  font-size: 0.8em;
  padding-right: 2em;
  text-align: end;
}
/* ===================================================================
 *  03. Media Queries
 * =================================================================== */
button.hamburger { display: none; }
@media screen and (max-width: 30em) {
  button.hamburger { display: block; }
  div.logo { justify-self: start; }
  nav { margin: 3vh 0 3vh 0; }
  nav li { display: none; }
  nav li.nav__item#mobile__menu { display: block; }
  nav.responsive li { display: block; }   
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover { opacity: 0.7; }
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, 
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before { top: -10px; }
.hamburger-inner::after { bottom: -10px; }
.hamburger--emphatic { overflow: hidden; }
.hamburger--emphatic .hamburger-inner { transition: background-color 0.125s 0.175s ease-in; }
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), 
                top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), 
                top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, 
                transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, 
                transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

