:root {
  --primary-color-dark: hsl(168, 30%, 45%);
}

html {
 box-sizing: border-box;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url('../optimizedImages/bg_pattern.png');
  background-size: 240px, auto;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vh;
}