/* 
  https://codepen.io/fridanyvall/pen/jzpLdm
*/
:root {
  --font-size-min: 1.125;
  --font-size-max: 1.414;

  --base-min: 1;
  --base-max: 1.25;

  --startwidth: 30;
  --endwidth: 105;

  --lineheight-responsive: calc((var(--lineheight-min) * 1rem) + (var(--lineheight-max) -
                           var(--lineheight-min)) * ((100vw - (var(--startwidth) * 1rem)) /
                           (var(--endwidth) - var(--startwidth))));
  --margin-responsive: calc((var(--margin-min, 1) * 1rem) + (var(--margin-max, 1.125) - var(--margin-min, 1)) * ((100vw - (var(--startwidth) * 1rem)) / (var(--endwidth) - var(--startwidth))));
                          
  --h1-size: calc(var(--font-size-min) * var(--font-size-min) * var(--font-size-min) *
                  var(--font-size-min) * var(--font-size-min) * 1em);
  --h2-size: calc(var(--font-size-min) * var(--font-size-min) * var(--font-size-min) * var(--font-size-min) * 1em);
  --h3-size: calc(var(--font-size-min) * var(--font-size-min) * var(--modufont-size-minlar1) * 1em);
  --h4-size: calc(var(--font-size-min) * var(--font-size-min) * 1em);
  --h5-size: calc(var(--font-size-min) * 1em);
  --h6-size: calc(var(--base-min) * 1em);
  --p-size: calc(var(--base-min) * 1em);

  --h1-responsive: calc(var(--h1-size) + ((var(--font-size-max) * var(--font-size-max) *
                        var(--font-size-max) * var(--font-size-max) * var(--font-size-max)) -
                        (var(--font-size-min) * var(--font-size-min) * var(--font-size-min) *
                        var(--font-size-min) * var(--font-size-min))) *
                        ((100vw - (var(--startwidth) * 1em)) / (var(--endwidth) - var(--startwidth))));

  --h2-responsive: calc(var(--h2-size) + ((var(--font-size-max) * var(--font-size-max) *
                        var(--font-size-max) * var(--font-size-max)) - (var(--font-size-min) *
                        var(--font-size-min) * var(--font-size-min) * var(--font-size-min))) *
                        ((100vw - (var(--startwidth) * 1em)) / (var(--endwidth) - var(--startwidth))));

  --h3-responsive: calc(var(--h3-size) + ((var(--font-size-max) * var(--font-size-max) *
                        var(--font-size-max)) - (var(--font-size-min) * var(--font-size-min) *
                        var(--font-size-min))) * ((100vw - (var(--startwidth) * 1em)) / 
                        (var(--endwidth) - var(--startwidth))));

  --h4-responsive: calc(var(--h4-size) + ((var(--font-size-max) * var(--font-size-max)) - 
                       (var(--font-size-min) * var(--font-size-min))) *
                       ((100vw - (var(--startwidth) * 1em)) / (var(--endwidth) - var(--startwidth))));
                         
  --h5-responsive: calc(var(--h5-size) + ((var(--font-size-max)) - (var(--font-size-min))) *
                        ((100vw - (var(--startwidth) * 1em)) / (var(--endwidth) - var(--startwidth))));

  --h6-responsive: calc(var(--h6-size) + ((var(--base-max)) - (var(--base-min))) *
                        ((100vw - (var(--startwidth) * 1em)) / (var(--endwidth) - var(--startwidth))));

  --p-responsive: calc(var(--p-size) + ((var(--base-max)) - (var(--base-min))) *
                       ((100vw - (var(--startwidth) * 1em)) / (var(--endwidth) - var(--startwidth))));
}

@media screen and (min-width: 30em) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: var(--lineheight-responsive);
    /* margin: var(--margin-responsive) auto; */
  }

  h1 {
    --margin-min: 0.75em;
    --margin-max: 1.875em;
    --lineheight-min: 2.625em;
    --lineheight-max: 7.03125em;
    font-size: var(--h1-responsive);
  }

  h2 {
    --margin-min: 0.65625em;
    --margin-max: 1.875em;
    --lineheight-min: 2.4375em;
    --lineheight-max: 5.625em;
    font-size: var(--h2-responsive);
  }

  h3 {
    --margin-min: 0.75em;
    --margin-max: 1.875em;
    --lineheight-min: 2.25em;
    --lineheight-max: 4.21875em;
    font-size: var(--h3-responsive);
  }

  h4 {
    --margin-min: 0.5625em;
    --margin-max: 0.9375em;
    --lineheight-min: 2.0625em;
    --lineheight-max: 3.28125em;
    font-size: var(--h4-responsive);
  }

  h5 {
    --margin-min: 0.375em;
    --margin-max: 0.9375em;
    --lineheight-min: 1.875em;
    --lineheight-max: 2.34375em;
    font-size: var(--h5-responsive);
  }

  h6 { font-size: var(--h6-responsive); }

  p { font-size: var(--p-responsive); }
}

@media screen and (min-width: 87.5em) {
  html { padding: 0 15%; }
}

@media screen and (min-width: 105em) {
  :root {
    --font-size-min: var(--font-size-max);
    --base-min: var(--base-max);
  }

  h1 {
    font-size: var(--h1-size);
    line-height: 1.244em;
    margin: 0.332em auto;
  }

  h2 {
    font-size: var(--h2-size);
    line-height: 1.407em;
    margin: 0.469em auto;
  }

  h3 {
    font-size: var(--h3-size);
    line-height: 1.492em;
    margin: 0.694em auto;
  }

  h4 {
    font-size: var(--h4-size);
    line-height: 1.641em;
    margin: 0.469em auto;
  }

  h5 {
    font-size: var(--h5-size);
    line-height: 1.658em;
    margin: 0.663em auto;
  }

  h6 { font-size: var(--h6-size); }

  p { font-size: var(--p-size); }
}

@media screen and (min-width: 112.5em) {
  html { padding: 0 20%; }
}
